.main-title {
  text-align: center;
  font-size: 3em;
}
.main-view {
  margin: 5em;
}
html, body {
  background: url(shared/line-background.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.navbar-inverse .navbar-brand {
  color: black;
}
